In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Case_Information_Table 2.csv",sep=',', delimiter=None, header='infer')

In [3]:
data.head()

,Case_Number,Arrest,Domestic,Crime_ID,Date,Crime_Description,FBI_Code,IUCR_Code,Location ID
0,HZ250496,True,True,3,2016-05-03,DOMESTIC BATTERY SIMPLE,8,486,1
1,HZ250409,False,True,3,2016-05-03,DOMESTIC BATTERY SIMPLE,8,486,2
2,HZ250503,False,False,26,2016-05-03,RECKLESS CONDUCT,24,470,3
3,HZ250424,False,False,3,2016-05-03,SIMPLE,8,460,4
4,HZ250455,False,True,30,2016-05-03,$500 AND UNDER,6,820,5

In [4]:
data2 = data.duplicated(subset=['Case_Number'])

In [5]:
duplicateRowsDF = data[data.duplicated(subset='Case_Number')]

In [6]:
duplicateRowsDF.head()

Empty DataFrame
Columns: [Case_Number, Arrest, Domestic, Crime_ID, Date, Crime_Description, FBI_Code, IUCR_Code, Location ID]
Index: []