In [1]:
# Data Engineering Final Project Python Script

#import libraries used

import pandas as pd
#import os

In [7]:
#check for working directory
os.getcwd()

'C:\\Users\\maryammoeed.MED-CB1M7F2\\Desktop'

In [2]:
#read csv file
df=pd.read_csv('Updated_Crimes_113020_csv.csv')
df

,Primary Key,Case Number,Date,Block,IUCR,Crime_ID,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,1,HZ250496,5/3/2016 23:40,013XX S SAWYER AVE,486,C3,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,5/10/2016 15:56,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,2,HZ250409,5/3/2016 21:40,061XX S DREXEL AVE,486,C3,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,5/10/2016 15:56,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,3,HZ250503,5/3/2016 23:31,053XX W CHICAGO AVE,470,C26,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,5/10/2016 15:56,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,4,HZ250424,5/3/2016 22:10,049XX W FULTON ST,460,C3,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,5/10/2016 15:56,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,5,HZ250455,5/3/2016 22:00,003XX N LOTUS AVE,820,C30,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,6,1139890.0,1901675.0,2016,5/10/2016 15:56,41.886297,-87.761751,"(41.886297242, -87.761750709)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,HY299674,6/13/2015 16:12,036XX W GRENSHAW ST,1310,C7,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,...,24.0,29.0,14,1152278.0,1894797.0,2015,8/17/2015 15:03,41.867188,-87.716440,"(41.86718783, -87.71644019)"
1048571,1048572,HY300084,6/13/2015 21:30,014XX S MUSEUM CAMPUS DR,870,C30,THEFT,POCKET-PICKING,STREET,False,...,2.0,33.0,6,1179970.0,1893558.0,2015,8/17/2015 15:03,41.863197,-87.614818,"(41.863196881, -87.614817819)"
1048572,1048573,HY300059,6/13/2015 21:40,023XX W LAWRENCE AVE,460,C3,BATTERY,SIMPLE,SIDEWALK,True,...,47.0,4.0,08B,1159650.0,1931817.0,2015,8/17/2015 15:03,41.968625,-87.688354,"(41.96862488, -87.688354349)"
1048573,1048574,HY299981,6/13/2015 20:40,051XX W THOMAS ST,313,C27,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,...,37.0,25.0,3,1141687.0,1906835.0,2015,8/17/2015 15:03,41.900424,-87.755024,"(41.900423863, -87.755023892)"
1048574,1048575,HY300058,6/13/2015 22:00,004XX N CENTRAL PARK BLVD,460,C3,BATTERY,SIMPLE,BRIDGE,False,...,27.0,23.0,08B,1152273.0,1902600.0,2015,8/17/2015 15:03,41.888600,-87.716253,"(41.888600199, -87.716252586)"

In [13]:
df.columns

Index(['Primary Key', 'Case Number', 'Date', 'Block', 'IUCR', 'Crime_ID',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [14]:
#check object types to make sure eer diagram matches
df['Primary Key'].dtype

dtype('int64')

In [15]:
df['Case Number'].dtype

dtype('O')

In [16]:
df['Date'].dtype

dtype('O')

In [17]:
df['Block'].dtype

dtype('O')

In [18]:
df['IUCR'].dtype
#mix of integer and alphabet, use vlookup in excel to make it all integers

dtype('O')

In [19]:
df['Crime_ID'].dtype
#mix of integers and alphabet; make only integers using excel

dtype('O')

In [20]:
df['Primary Type'].dtype
#should be all string evaluate this further

dtype('O')

In [21]:
df['Description'].dtype
#should be all string evaluate this further

dtype('O')

In [22]:
df['Location Description'].dtype
#should be all string evaluate this further

dtype('O')

In [23]:
df['Arrest'].dtype
#makes sense to be boolean

dtype('bool')

In [25]:
df['Domestic'].dtype

dtype('bool')

In [26]:
df['Beat'].dtype
#makes sense to be all integers; not in EER diagram will drop

dtype('int64')

In [27]:
df['District'].dtype
#double check why it is float and not integer

dtype('float64')

In [28]:
df['Ward'].dtype
#double check why it is float and not integer

dtype('float64')

In [29]:
df['Community Area'].dtype

dtype('float64')

In [30]:
df['FBI Code'].dtype
#should be all integers; use vlookup to fix the code in excel

dtype('O')

In [31]:
df['X Coordinate'].dtype
#makes sense; not in EER diagram so will be dropped

dtype('float64')

In [32]:
df['Y Coordinate'].dtype
#not in EER diagram so will be dropped

dtype('float64')

In [33]:
df['Year'].dtype
#makes sense; not in EER diagram but in date so will be dropped

dtype('int64')

In [35]:
df['Updated On'].dtype
#needs cleaning or can be removed will try drop column

dtype('O')

In [36]:
df['Latitude'].dtype

dtype('float64')

In [37]:
df['Longitude'].dtype

dtype('float64')

In [38]:
df['Location'].dtype
#will drop column because its not in EER diagram

dtype('O')

In [39]:
#drop columns mentioned in the comments
df.drop(['Location','Updated On','Year','Y Coordinate', 'X Coordinate', 'Beat'], axis=1, inplace=True)

In [40]:
#new df
df

,Primary Key,Case Number,Date,Block,IUCR,Crime_ID,Primary Type,Description,Location Description,Arrest,Domestic,District,Ward,Community Area,FBI Code,Latitude,Longitude
0,1,HZ250496,5/3/2016 23:40,013XX S SAWYER AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,10.0,24.0,29.0,08B,41.864073,-87.706819
1,2,HZ250409,5/3/2016 21:40,061XX S DREXEL AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,3.0,20.0,42.0,08B,41.782922,-87.604363
2,3,HZ250503,5/3/2016 23:31,053XX W CHICAGO AVE,470,26,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,False,15.0,37.0,25.0,24,41.894908,-87.758372
3,4,HZ250424,5/3/2016 22:10,049XX W FULTON ST,460,3,BATTERY,SIMPLE,SIDEWALK,False,False,15.0,28.0,25.0,08B,41.885687,-87.749516
4,5,HZ250455,5/3/2016 22:00,003XX N LOTUS AVE,820,30,THEFT,$500 AND UNDER,RESIDENCE,False,True,15.0,28.0,25.0,6,41.886297,-87.761751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,HY299674,6/13/2015 16:12,036XX W GRENSHAW ST,1310,7,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,True,11.0,24.0,29.0,14,41.867188,-87.716440
1048571,1048572,HY300084,6/13/2015 21:30,014XX S MUSEUM CAMPUS DR,870,30,THEFT,POCKET-PICKING,STREET,False,False,1.0,2.0,33.0,6,41.863197,-87.614818
1048572,1048573,HY300059,6/13/2015 21:40,023XX W LAWRENCE AVE,460,3,BATTERY,SIMPLE,SIDEWALK,True,False,20.0,47.0,4.0,08B,41.968625,-87.688354
1048573,1048574,HY299981,6/13/2015 20:40,051XX W THOMAS ST,313,27,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,SIDEWALK,False,False,15.0,37.0,25.0,3,41.900424,-87.755024
1048574,1048575,HY300058,6/13/2015 22:00,004XX N CENTRAL PARK BLVD,460,3,BATTERY,SIMPLE,BRIDGE,False,False,11.0,27.0,23.0,08B,41.888600,-87.716253

In [41]:
#check for null values
df.isnull().values.any()

True

In [42]:
df.isnull().sum()

Primary Key                0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Crime_ID                   0
Primary Type               0
Description                0
Location Description     648
Arrest                     0
Domestic                   0
District                   1
Ward                      13
Community Area            40
FBI Code                   0
Latitude                8705
Longitude               8705
dtype: int64

In [43]:
#change null values to unknown and zero
df['Location Description'].fillna('Unknown', inplace=True)

In [44]:

df.isnull().sum()

Primary Key                0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Crime_ID                   0
Primary Type               0
Description                0
Location Description       0
Arrest                     0
Domestic                   0
District                   1
Ward                      13
Community Area            40
FBI Code                   0
Latitude                8705
Longitude               8705
dtype: int64

In [45]:
df['District'].min()
#check if min is 0

1.0

In [46]:
#change null values to zero
df['District'].fillna(0, inplace=True)

In [47]:
df.isnull().sum()

Primary Key                0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Crime_ID                   0
Primary Type               0
Description                0
Location Description       0
Arrest                     0
Domestic                   0
District                   0
Ward                      13
Community Area            40
FBI Code                   0
Latitude                8705
Longitude               8705
dtype: int64

In [48]:
df['Ward'].min()
#check if min is 0

1.0

In [49]:
df['Community Area'].min()
#check if min is 0

0.0

In [50]:
df['Community Area'].max()
#check the max value so we can find a value that is not in the range of 0-max
#use 1000 instead of 0 to replace null values

77.0

In [51]:
df['Community Area']

0          29.0
1          42.0
2          25.0
3          25.0
4          25.0
           ...
1048570    29.0
1048571    33.0
1048572     4.0
1048573    25.0
1048574    23.0
Name: Community Area, Length: 1048575, dtype: float64

In [52]:
df['Latitude'].min()
#check if min is 0

36.6194464

In [53]:
df['Longitude'].min()
#check if min is 0

-91.68656568

In [54]:
#change null values to zero
df['Ward'].fillna(0, inplace=True)

In [55]:
df.isnull().sum()

Primary Key                0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Crime_ID                   0
Primary Type               0
Description                0
Location Description       0
Arrest                     0
Domestic                   0
District                   0
Ward                       0
Community Area            40
FBI Code                   0
Latitude                8705
Longitude               8705
dtype: int64

In [56]:
#change null values to 1000
df['Community Area'].fillna(1000, inplace=True)

In [57]:
df.isnull().sum()

Primary Key                0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Crime_ID                   0
Primary Type               0
Description                0
Location Description       0
Arrest                     0
Domestic                   0
District                   0
Ward                       0
Community Area             0
FBI Code                   0
Latitude                8705
Longitude               8705
dtype: int64

In [69]:
#change null values to zero
df['Latitude'].fillna(0, inplace=True)

In [58]:
df.isnull().sum()

Primary Key                0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Crime_ID                   0
Primary Type               0
Description                0
Location Description       0
Arrest                     0
Domestic                   0
District                   0
Ward                       0
Community Area             0
FBI Code                   0
Latitude                8705
Longitude               8705
dtype: int64

In [59]:
#change null values to zero
df['Longitude'].fillna(0, inplace=True)

In [60]:
df.isnull().sum()
#data has no null values and is replaced with 0, 1000, or unknown

Primary Key                0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Crime_ID                   0
Primary Type               0
Description                0
Location Description       0
Arrest                     0
Domestic                   0
District                   0
Ward                       0
Community Area             0
FBI Code                   0
Latitude                8705
Longitude                  0
dtype: int64

In [61]:
#check for redundant data
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Length: 1048575, dtype: bool

In [62]:
df.head()

,Primary Key,Case Number,Date,Block,IUCR,Crime_ID,Primary Type,Description,Location Description,Arrest,Domestic,District,Ward,Community Area,FBI Code,Latitude,Longitude
0,1,HZ250496,5/3/2016 23:40,013XX S SAWYER AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,10.0,24.0,29.0,08B,41.864073,-87.706819
1,2,HZ250409,5/3/2016 21:40,061XX S DREXEL AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,3.0,20.0,42.0,08B,41.782922,-87.604363
2,3,HZ250503,5/3/2016 23:31,053XX W CHICAGO AVE,470,26,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,False,15.0,37.0,25.0,24,41.894908,-87.758372
3,4,HZ250424,5/3/2016 22:10,049XX W FULTON ST,460,3,BATTERY,SIMPLE,SIDEWALK,False,False,15.0,28.0,25.0,08B,41.885687,-87.749516
4,5,HZ250455,5/3/2016 22:00,003XX N LOTUS AVE,820,30,THEFT,$500 AND UNDER,RESIDENCE,False,True,15.0,28.0,25.0,6,41.886297,-87.761751

In [10]:
# df["Crime_ID"]
# remove the 'C' from the crime id
df['Crime_ID'] = df['Crime_ID'].str.replace("C", '')
df.head()

,Primary Key,Case Number,Date,Block,IUCR,Crime_ID,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,1,HZ250496,5/3/2016 23:40,013XX S SAWYER AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,5/10/2016 15:56,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,2,HZ250409,5/3/2016 21:40,061XX S DREXEL AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,5/10/2016 15:56,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,3,HZ250503,5/3/2016 23:31,053XX W CHICAGO AVE,470,26,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,5/10/2016 15:56,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,4,HZ250424,5/3/2016 22:10,049XX W FULTON ST,460,3,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,5/10/2016 15:56,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,5,HZ250455,5/3/2016 22:00,003XX N LOTUS AVE,820,30,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,6,1139890.0,1901675.0,2016,5/10/2016 15:56,41.886297,-87.761751,"(41.886297242, -87.761750709)"

In [72]:
from datetime import datetime,date
df["Date"]=pd.to_datetime(df['Date']).dt.normalize()
df.head()

,Primary Key,Case Number,Date,Block,IUCR,Crime_ID,Primary Type,Description,Location Description,Arrest,Domestic,District,Ward,Community Area,FBI Code,Latitude,Longitude
0,1,HZ250496,2016-05-03,013XX S SAWYER AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,10.0,24.0,29.0,08B,41.864073,-87.706819
1,2,HZ250409,2016-05-03,061XX S DREXEL AVE,486,3,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,3.0,20.0,42.0,08B,41.782922,-87.604363
2,3,HZ250503,2016-05-03,053XX W CHICAGO AVE,470,26,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,False,15.0,37.0,25.0,24,41.894908,-87.758372
3,4,HZ250424,2016-05-03,049XX W FULTON ST,460,3,BATTERY,SIMPLE,SIDEWALK,False,False,15.0,28.0,25.0,08B,41.885687,-87.749516
4,5,HZ250455,2016-05-03,003XX N LOTUS AVE,820,30,THEFT,$500 AND UNDER,RESIDENCE,False,True,15.0,28.0,25.0,6,41.886297,-87.761751

In [73]:
df.to_csv('example.csv',index=False,header=True)